*{
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
:root{
--Gradient: hsl(6, 100%, 80%),hsl(335, 100%, 65%);
--PaleBlue: hsl(243, 100%, 93%);
--GrayishBlue: hsl(232, 8%, 63%);
--DarkBlue: hsl(228, 56%, 26%);
--VeryDarkBlue: hsl(229, 57%, 11%);
}
body{
    background-color:black;
}
.container{
    width: 100%;
    height: 100vh;
}
@font-face {
    font-family: 'raleway';
    src: url("../fonts/Raleway[wght].ttf");
}
@media only screen and (min-width:320px){
    .container{
        background-image: url(../images/bg-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'raleway';
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: fit-content;
        gap: 20px;
    }
    .left{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 30vh;
        border-radius: 12px 100px 12px 12px;
        padding: 5px;
        justify-content: center;
        align-items:flex-start;
        background-color: var(--DarkBlue);
    }
    .left .left1,.left2{
        margin-left: 10%;
    }
    .left2{
        display: flex;
        justify-content: space-between;
        gap: 14px;
        width: 55%;
    }
    .left2 img{
        background-color: var(--VeryDarkBlue);
        padding: 7px;
        border-radius: 6px;
        width: 20%;
        height: 5vh;
    }
    .right{
        padding: 1px;
        display: flex;
        justify-content: center;
        background-color: var(--DarkBlue);
        height: 15vh;
        border-radius: 6px;
        padding-bottom: 45px;
    }
    .right p{
        color: var(--PaleBlue);
        font-weight: 400;
    }
    .right2{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-align: center;
        width: 90%;
        padding-top: 20px;
    }
    .right2 .youve{
        color: var(--GrayishBlue);
        font-size: 14px;
    }
    .right2 span{
        color: var(--PaleBlue);
        font-weight: 600;
    }
    .right2 .white{
        position: absolute;
        bottom: 12%;
        background-color: white;
        padding: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .right2 .white p{
        color: var(--DarkBlue);
    }
    .right2 .white span{
        color: var(--VeryDarkBlue);
        font-weight: 600;
        font-size: 29px;
    }
    .right2 .dashes0{
        text-align: right;
        background-color: var(--VeryDarkBlue);
        width: 98%;
        padding: 2px;
        justify-content: start;
        align-items: start;
        border-radius: 12px;
    }
    .right2 .dashes0 .dashes1{
        background: linear-gradient(var(--Gradient));
        padding: 2px;
        width: 73%;
        border-radius: 12px;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .right .right2 .dashes0 .dashes2{
        background-color: white;
        width: 1%;
        padding: 5px;
        border-radius: 100vmax;
    }
    .right .right2 .zeroGB{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        width: 96%;
        font-weight: bolder;
    }
    .right2 .white .eight{
        font-size: 30px;
    }
    .right2 .white .five{
        font-size: 30px;
    }
    .right2 .white .gbleft{
        font-size: 13px;
        font-weight: 600;
    }
}
@media only screen and (min-width:375px){
    section{
        width: 80%;
    }
}
@media only screen and (min-width:375px) and (min-height:667px){
    section{
        width: 89%;
    }
    .left2 img{
        width: 24%;
        height: 5vh;
    }
    .right2 .youve{
        font-size: 16px;
    }
    .right2 .white{
        bottom: 16%;
    }
    .right2 .white span{
        font-size: 36px;
        font-weight: 700;
    }
    .right2 .dashes0{
        width: 96%;
        padding: 4px;
    }
    .right2 .dashes0 .dashes1{padding: 4px;
        width: 80%;
    }
    .right .right2 .zeroGB{
        font-size: 16px;
    }
    .right2 .white .gbleft{
        font-size: 15px;
    }
}
@media only screen and (min-width:412px){
    section{
        width: 70%;
    }
}
@media only screen and (min-width:600px){
    section{
        width: 56%;
    }
}
@media only screen and (min-width:768px){
    section{
        width: 40%;
    }
}
@media only screen and (min-width:850px){
    section{
        width: 35%;
    }
}
@media only screen and (min-width:992px){
    body{
        background-color: var(--VeryDarkBlue);
    }
    .container{
        position: absolute;
        height: 50vh;
        bottom: 0;
        background-image: url(../images/bg-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    section{
        position: absolute;
        bottom: 60%;
        width: 80%;
        flex-direction: row;
        justify-content: center;
        align-items:baseline;
    }
    .left{
        width: 40%;
    }
    .right{
        width: 50%;
        padding-top: 15px;
    }
    .right2{
        justify-content: start;
        align-items: start;
        gap: 10px;
    }
    .right2 .white{
        bottom: 73%;
        right: 6%;
        height: 2vh;
        border-radius: 4px;
    }
    .right2 .white::after{
        content: '';
        border-radius: 0 0 0 18px;
        width: 20px;
        height: 40px;
        position: absolute;
        margin-left: 86%;
        margin-top: 50%;
        background-color: white;
    }
}
@media only screen and (min-width:1272px){
    section{
        width: 70%;
    }
}
@media only screen and (min-width:1400px){
    section{
        width: 65%;
    }
}
@media only screen and (min-width:1600px){
    section{
        width: 55%;
    }
}
@media only screen and (min-width:1600px){
    section{
        width: 35%;
    }
}
@media only screen and (min-width:1920px) and (min-height:900px){
    section{
        width: 55%;
    }
    .right2 .youve{
        font-size: 20px;
    }
    .right2 .dashes0{
        padding: 6px;
    }
    .right .right2 .zeroGB{
        font-size: 20px;
    }
    .right2 .white .gbleft{
        font-size: 18px;
    }
    .right2 .white::after{
        margin-left: 87%;
    }
}
@media only screen and (min-width:2560px){
    section{
        width: 50%;
    }
    .right2 .youve{
        font-size: 24px;
    }
    .right2 .dashes0{
        padding: 8px;
    }
    .right2 .dashes1{
        padding: 8px;
    }
    .right2 .dashes2{
        padding: 20px;
    }
    .right .right2 .zeroGB{
        font-size: 24px;
    }
    .right2 .white .gbleft{
        font-size: 22px;
    }
    .right2 .white::after{
        margin-left: 89%;
    }
}